@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');
body
{
 font-family: 'Source Sans Pro', sans-serif;
background-color: #333333;
    color: #fff;
}

.mainHeading{

    display: inline-block;
    font-size: 80px;
    color: #f39c12;
    border-bottom: 1px solid #f39c12;
    margin-left: 350px;

}

#itemTitle{
    
    border-bottom: 1px solid #fff;
}

#clearBasket{
    
    margin-left: 10px;
    background-color: rgba(255, 153, 0, 0.6);
    border: none;
}

#basketTitle{
    padding: 10px;
    border-bottom: 1px solid #fff;
}

#innerBasket{
    padding: 10px;
    overflow: scroll;
}

#closeBasketBtn{
    height: 1px;
    margin-top: 1px;
    float: right;
    padding: 5px;
    color: #c0392b;
}

#mainBasket{
    
    width: 275px;
    height: 400px;
    position: absolute;
    margin-left: 1150px;
    margin-top: -70px;
    background: rgba(0,0,0,0.3);
    overflow: scroll;
}

.mainBasket{

-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}


h1
{
    font-family: 'Open Sans', sans-serif;
    
    color: #c0392b;
  
}


.divOne
{
 
    
    padding: 90px;
    margin-top: -100px;

  
    
}



.divTwo
{
    
    padding: 90px;
    align-self: center;
    float: left;
    

   
}

.divThree
{
    
     
}
